:focus{
	outline: 0;
}

body{
	background: #fff;
	line-height: 1;
}

ol, ul{
	list-style: none;
}

table{
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td{
	font-weight: normal;
	text-align: left;
}

blockquote:before, blockquote:after, q:before, q:after{
	content: "";
}

blockquote, q{
	quotes: "" "";
}

a img{
	border: 0;
}

article, aside, deftails, figcaption, figure, footer, header, hgroup, menu, nav, section{
	display: block;
}
